<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.we.apiautomation.apitest.dao.TPlanSuiteApiMapper">
  <resultMap id="BaseResultMap" type="com.we.apiautomation.apitest.model.TPlanSuiteApi">
    <!--@mbg.generated-->
    <!--@Table t_plan_suite_api-->
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="job_id" jdbcType="BIGINT" property="jobId" />
    <result column="suite_id" jdbcType="BIGINT" property="suiteId" />
    <result column="sort" jdbcType="INTEGER" property="sort" />
    <result column="is_valid" jdbcType="INTEGER" property="isValid" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    id, job_id, suite_id, sort, is_valid
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    <!--@mbg.generated-->
    select
    <include refid="Base_Column_List" />
    from t_plan_suite_api
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    <!--@mbg.generated-->
    delete from t_plan_suite_api
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" keyColumn="id" keyProperty="id" parameterType="com.we.apiautomation.apitest.model.TPlanSuiteApi" useGeneratedKeys="true">
    <!--@mbg.generated-->
    insert into t_plan_suite_api (job_id, suite_id, sort,
      is_valid)
    values (#{jobId,jdbcType=BIGINT}, #{suiteId,jdbcType=BIGINT}, #{sort,jdbcType=INTEGER},
      #{isValid,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" keyColumn="id" keyProperty="id" parameterType="com.we.apiautomation.apitest.model.TPlanSuiteApi" useGeneratedKeys="true">
    <!--@mbg.generated-->
    insert into t_plan_suite_api
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="jobId != null">
        job_id,
      </if>
      <if test="suiteId != null">
        suite_id,
      </if>
      <if test="sort != null">
        sort,
      </if>
      <if test="isValid != null">
        is_valid,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="jobId != null">
        #{jobId,jdbcType=BIGINT},
      </if>
      <if test="suiteId != null">
        #{suiteId,jdbcType=BIGINT},
      </if>
      <if test="sort != null">
        #{sort,jdbcType=INTEGER},
      </if>
      <if test="isValid != null">
        #{isValid,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.we.apiautomation.apitest.model.TPlanSuiteApi">
    <!--@mbg.generated-->
    update t_plan_suite_api
    <set>
      <if test="jobId != null">
        job_id = #{jobId,jdbcType=BIGINT},
      </if>
      <if test="suiteId != null">
        suite_id = #{suiteId,jdbcType=BIGINT},
      </if>
      <if test="sort != null">
        sort = #{sort,jdbcType=INTEGER},
      </if>
      <if test="isValid != null">
        is_valid = #{isValid,jdbcType=INTEGER},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.we.apiautomation.apitest.model.TPlanSuiteApi">
    <!--@mbg.generated-->
    update t_plan_suite_api
    set job_id = #{jobId,jdbcType=BIGINT},
      suite_id = #{suiteId,jdbcType=BIGINT},
      sort = #{sort,jdbcType=INTEGER},
      is_valid = #{isValid,jdbcType=INTEGER}
    where id = #{id,jdbcType=BIGINT}
  </update>

<!--auto generated by MybatisCodeHelper on 2020-02-26-->
  <delete id="deleteByJobId">
        delete from t_plan_suite_api
        where job_id=#{jobId,jdbcType=BIGINT}
    </delete>

<!--auto generated by MybatisCodeHelper on 2020-02-26-->
  <select id="findByJobId" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from t_plan_suite_api
    where job_id=#{jobId,jdbcType=BIGINT}
  </select>

<!--auto generated by MybatisCodeHelper on 2020-02-27-->
  <delete id="deleteBySuiteId">
        delete from t_plan_suite_api
        where suite_id=#{suiteId,jdbcType=BIGINT}
    </delete>

<!--auto generated by MybatisCodeHelper on 2020-02-28-->
  <select id="countByJobId" resultType="java.lang.Long">
        select count(1)
        from t_plan_suite_api
        where job_id=#{jobId,jdbcType=BIGINT}
    </select>
</mapper>
