<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.we.apiautomation.apitest.dao.TTestsuiteApiMapper">
  <resultMap id="BaseResultMap" type="com.we.apiautomation.apitest.model.TTestsuiteApi">
    <!--@mbg.generated-->
    <!--@Table t_testsuite_api-->
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="project_id" jdbcType="BIGINT" property="projectId" />
    <result column="create_by" jdbcType="VARCHAR" property="createBy" />
    <result column="update_by" jdbcType="VARCHAR" property="updateBy" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    id, `name`, project_id, create_by, update_by, create_time, update_time
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    <!--@mbg.generated-->
    select
    <include refid="Base_Column_List" />
    from t_testsuite_api
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    <!--@mbg.generated-->
    delete from t_testsuite_api
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" keyColumn="id" keyProperty="id" parameterType="com.we.apiautomation.apitest.model.TTestsuiteApi" useGeneratedKeys="true">
    <!--@mbg.generated-->
    insert into t_testsuite_api (`name`, project_id, create_by,
      update_by, create_time, update_time
      )
    values (#{name,jdbcType=VARCHAR}, #{projectId,jdbcType=BIGINT}, #{createBy,jdbcType=VARCHAR},
      #{updateBy,jdbcType=VARCHAR}, #{createTime,jdbcType=TIMESTAMP}, #{updateTime,jdbcType=TIMESTAMP}
      )
  </insert>
  <insert id="insertSelective" keyColumn="id" keyProperty="id" parameterType="com.we.apiautomation.apitest.model.TTestsuiteApi" useGeneratedKeys="true">
    <!--@mbg.generated-->
    insert into t_testsuite_api
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="name != null and name != ''">
        `name`,
      </if>
      <if test="projectId != null">
        project_id,
      </if>
      <if test="createBy != null and createBy != ''">
        create_by,
      </if>
      <if test="updateBy != null and updateBy != ''">
        update_by,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="updateTime != null">
        update_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="name != null and name != ''">
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="projectId != null">
        #{projectId,jdbcType=BIGINT},
      </if>
      <if test="createBy != null and createBy != ''">
        #{createBy,jdbcType=VARCHAR},
      </if>
      <if test="updateBy != null and updateBy != ''">
        #{updateBy,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.we.apiautomation.apitest.model.TTestsuiteApi">
    <!--@mbg.generated-->
    update t_testsuite_api
    <set>
      <if test="name != null and name != ''">
        `name` = #{name,jdbcType=VARCHAR},
      </if>
      <if test="projectId != null">
        project_id = #{projectId,jdbcType=BIGINT},
      </if>
      <if test="createBy != null and createBy != ''">
        create_by = #{createBy,jdbcType=VARCHAR},
      </if>
      <if test="updateBy != null and updateBy != ''">
        update_by = #{updateBy,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.we.apiautomation.apitest.model.TTestsuiteApi">
    <!--@mbg.generated-->
    update t_testsuite_api
    set `name` = #{name,jdbcType=VARCHAR},
      project_id = #{projectId,jdbcType=BIGINT},
      create_by = #{createBy,jdbcType=VARCHAR},
      update_by = #{updateBy,jdbcType=VARCHAR}
    where id = #{id,jdbcType=BIGINT}
  </update>

<!--auto generated by MybatisCodeHelper on 2020-02-27-->
  <select id="findByAll" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from t_testsuite_api
        <where>
            <if test="id != null">
                and id=#{id,jdbcType=BIGINT}
            </if>
            <if test="name != null and name != ''">
                and `name`=#{name,jdbcType=VARCHAR}
            </if>
            <if test="projectId != null">
                and project_id=#{projectId,jdbcType=BIGINT}
            </if>
            <if test="createBy != null and createBy != ''">
                and create_by=#{createBy,jdbcType=VARCHAR}
            </if>
            <if test="updateBy != null and updateBy != ''">
                and update_by=#{updateBy,jdbcType=VARCHAR}
            </if>
            <if test="createTime != null">
                and create_time=#{createTime,jdbcType=TIMESTAMP}
            </if>
            <if test="updateTime != null">
                and update_time=#{updateTime,jdbcType=TIMESTAMP}
            </if>
        </where>
    </select>

<!--auto generated by MybatisCodeHelper on 2020-02-27-->
  <select id="findByProjectId" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List"/>
    from t_testsuite_api
    where project_id=#{projectId,jdbcType=BIGINT}
  </select>

<!--auto generated by MybatisCodeHelper on 2020-02-27-->
  <select id="selectByNameAndProjectId" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List"/>
    from t_testsuite_api
    where `name`=#{name,jdbcType=VARCHAR} and project_id=#{projectId,jdbcType=BIGINT}
  </select>

<!--auto generated by MybatisCodeHelper on 2020-02-27-->
  <select id="selectByNameAndProjectIdAndIdNot" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List"/>
    from t_testsuite_api
    where `name`=#{name,jdbcType=VARCHAR} and project_id=#{projectId,jdbcType=BIGINT} and id <![CDATA[<>]]>
    #{notId,jdbcType=BIGINT}
  </select>
</mapper>
